FinancialsIntegration/FinancialsIntegration/Service References/ContactsService/ContactsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.datacom.co.nz/IRIS/Contacts/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.datacom.co.nz/IRIS/Contacts/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.datacom.co.nz/IRIS/Contacts/Imports">
      <xsd:import schemaLocation="http://irisdm.horizons.govt.nz/ServiceInterface/ContactsService.svc?xsd=xsd0" namespace="http://www.datacom.co.nz/IRIS/Contacts/" />
      <xsd:import schemaLocation="http://irisdm.horizons.govt.nz/ServiceInterface/ContactsService.svc?xsd=xsd2" namespace="http://www.datacom.co.nz/IRIS/" />
      <xsd:import schemaLocation="http://irisdm.horizons.govt.nz/ServiceInterface/ContactsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContactsService_GetContactDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactDetails" />
  </wsdl:message>
  <wsdl:message name="IContactsService_GetContactDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsService_GetContactDetails_IRISServiceFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q1="http://www.datacom.co.nz/IRIS/" name="detail" element="q1:IRISServiceFaultContract" />
  </wsdl:message>
  <wsdl:message name="IContactsService_GetChangedContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChangedContacts" />
  </wsdl:message>
  <wsdl:message name="IContactsService_GetChangedContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChangedContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsService_GetChangedContacts_IRISServiceFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q2="http://www.datacom.co.nz/IRIS/" name="detail" element="q2:IRISServiceFaultContract" />
  </wsdl:message>
  <wsdl:portType name="IContactsService">
    <wsdl:operation name="GetContactDetails">
      <wsdl:input wsaw:Action="http://www.datacom.co.nz/IRIS/Contacts/IContactsService/GetContactDetails" message="tns:IContactsService_GetContactDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://www.datacom.co.nz/IRIS/Contacts/IContactsService/GetContactDetailsResponse" message="tns:IContactsService_GetContactDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.datacom.co.nz/IRIS/Contacts/IContactsService/GetContactDetailsIRISServiceFaultContractFault" name="IRISServiceFaultContractFault" message="tns:IContactsService_GetContactDetails_IRISServiceFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChangedContacts">
      <wsdl:input wsaw:Action="http://www.datacom.co.nz/IRIS/Contacts/IContactsService/GetChangedContacts" message="tns:IContactsService_GetChangedContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://www.datacom.co.nz/IRIS/Contacts/IContactsService/GetChangedContactsResponse" message="tns:IContactsService_GetChangedContacts_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.datacom.co.nz/IRIS/Contacts/IContactsService/GetChangedContactsIRISServiceFaultContractFault" name="IRISServiceFaultContractFault" message="tns:IContactsService_GetChangedContacts_IRISServiceFaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>