ContactsIntegration/ContactsIntegration/Service References/ContactsService/ContactsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.datacom.co.nz/IRIS/" elementFormDefault="qualified" targetNamespace="http://www.datacom.co.nz/IRIS/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IRISServiceFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultCode" type="xs:int" />
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IRISServiceFaultContract" nillable="true" type="tns:IRISServiceFaultContract" />
</xs:schema>